* {
	box-sizing: border-box;
}


body {
	margin: 0;
	background-color: #DDC49C;
	font-family: "Microsoft JhengHei", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}



.TekstForside {
	text-align: center;
	padding: 20px;
	height: 30em;
}

.TekstForside-paragraph {
	text-align: center;
	padding: 20px;
}

.forside-omos {
	padding-bottom: 10px;
}

.logo-placering {
	left: 5%;
	top: 15px;
	z-index: 999999;
}
.nav-link {
	color: white !important;
}

body, html {
	height: 100%;
}

.hero-image {
	background-image: url("../images/Sweets_Candy_Chocolate_Black_background_521530_1920x1080.jpg");
	height: 50%;
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {
	text-align: left;
	position: absolute;
	top: 45%;
	left: 37%;
	transform: translate(-50%, -50%);
	color: white;
}

.hero-text button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 10px 25px;
	color: black;
	background-color: #ddd;
	text-align: center;
	cursor: pointer;
}

.hero-text button:hover {
	background-color: #555;
	color: white;
}

.footer {
	width: 100%;
	position: relative;
	height: auto;
	background-color: white;
}

.footer .col-12 p {
	margin: 0;
	font-size: 16px;
	line-height: 17px;
	letter-spacing: 0.250em;
}

.footer-link {
	color: white !important;
	border-bottom: 2px solid #DDC49C;
}

.footer-spacing {
	padding: 0;
}

@media only screen and (min-width: 1280px) {
	.contain {
		width: 1200px;
		margin: 0 auto;
	}
	.card-group {
		padding: 25px;
	}
	.TekstForside {
		text-align: center;
		padding: 30px 350px;
		height: 20em;
	}
	.navbar-nav {

	}
}





